@import "tailwindcss";

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f8fafc;
  min-height: 100vh;
  color: #0f172a;
}
